In [1]:
import pandas as pd
import sqlite3

In [2]:
conexion = sqlite3.connect('./data_csv/BD.bd')
cursor = conexion.cursor()

In [3]:
query = '''
CREATE TABLE `Proveedores` (
  `Id_Proveedor` INT NOT NULL,
  `Nombre` VARCHAR(45) NULL,
  `Direccion` VARCHAR(45) NULL,
  `Telefono` VARCHAR(45) NULL,
  `Email` VARCHAR(45) NULL,
  PRIMARY KEY (`Id_Proveedor`))
  '''

In [4]:
cursor.execute(query)

In [5]:
query = '''
CREATE TABLE `Productos` (
  `Id_Productos` INT NOT NULL,
  `Nombre` VARCHAR(45) NULL,
  `Tipo` VARCHAR(45) NULL,
  `Precio` VARCHAR(45) NULL,
  `Id_Proveedor` INT NOT NULL,
  PRIMARY KEY (`Id_Productos`),
    FOREIGN KEY (`Id_Proveedor`)
    REFERENCES`Proveedores` (`Id_Proveedor`)
    ON DELETE CASCADE
    ON UPDATE CASCADE)
    '''

In [6]:
cursor.execute(query)

In [7]:
query = '''
CREATE TABLE `Stock` (
  `Id_Producto` INT NOT NULL,
  `Cantidad` INT NULL,
  `Fecha_Recepcion` DATE NULL,
  PRIMARY KEY (`Id_Producto`),
  CONSTRAINT `Id_Producto`
    FOREIGN KEY (`Id_Producto`)
    REFERENCES`Productos` (`Id_Productos`)
    ON DELETE CASCADE
    ON UPDATE CASCADE)
    '''

In [8]:
cursor.execute(query)

In [9]:
query = '''
CREATE TABLE `Facturas` (
  `Id_Factura` INT NOT NULL,
  `Fecha_Factura` DATE NULL,
  `Importe` FLOAT NULL,
  `Id_Proveedor` INT NULL,
  PRIMARY KEY (`Id_Factura`),
    FOREIGN KEY (`Id_Proveedor`)
    REFERENCES `Proveedores` (`Id_Proveedor`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
    '''

In [10]:
cursor.execute(query)

In [11]:
query = '''
CREATE TABLE `Detalle_Factura` (
  `Id_Detalle` INT NOT NULL,
  `Id_Factura` INT NOT NULL,
  `Id_Producto` INT NOT NULL,
  `Cantidad` INT NULL,
  `Importe` FLOAT NULL,
  `Fecha_Factura` DATE NULL,
  PRIMARY KEY (`Id_Detalle`),
    FOREIGN KEY (`Id_Factura`)
    REFERENCES `Facturas` (`Id_Factura`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `Id_Producto`
    FOREIGN KEY (`Id_Producto`)
    REFERENCES `Productos` (`Id_Productos`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
    '''

In [12]:
cursor.execute(query)

In [13]:
query = '''
INSERT INTO `Proveedores` (`Id_Proveedor`, `Nombre`, `Direccion`, `Telefono`, `Email`)VALUES
(0, 'Laboratorios Normon', 'Ronda de VAldecarrizo 6, 28760 , Madrid', '91 806 52 40', 'info@normon.com'),
(6, 'Laboratorios Cinfa', 'Poligono Areta,10 , Navarra', '948 33 38 11', 'sac@cinfa.com'),
(7, 'Laboratorios Sandoz', 'Avenida Osa MAyor, 4 , 28023, Madrid', '915488404', 'info@sandoz.com'),
(8, 'Laboratorios Kern Farma', 'Poligono industrial Colom II, 08228, Terrassa, Barcelona', '937 00 2525', 'info@kernpharma.com'),
(9, 'Laboratorios Ratiopharm', 'Calle Anabel Segura, 11, 28108, Alcobendas, Madrid', '915672970', 'info@ratiopharm.com'),
(10, 'Novaltia', 'poligono la cruz, P_2_8, Lezama, Bizkaia', '946 71 91 00', 'novaltia@novaltia.es'),
(11, 'Cofares', 'Poligono Lapatza 1 , 48970, Basauri, Bizkaia', '949 79 00 00', 'cofares@cofares.es'),
(12, 'Laboratoios Nuxe', 'travesa de Gracia,122 . 08008, Barcelona', '947 88 90 00', 'nuxelaboratorio@nuxe.es'),
(13, 'Faes Farma', 'Avenida Autonomia, 10 , 48940 , Leioa, Bizkaia', '944818300', 'faesfarma@faesfarma.es'),
(14, 'GSK Espana', 'Calle Severo Ochoa, 2, 28760, Madrid', '946 78 98 99', 'gskespana@gsk.com')
    '''

In [14]:
cursor.execute(query)
conexion.commit()

In [15]:
query = '''
INSERT INTO Productos (Id_Productos, Nombre, Tipo, Precio, Id_Proveedor) VALUES
    (1, 'Ibuprofeno normon', 'Especialidad Farmaceutica', '2,37', 0),
    (2, 'Ibuprofeno Cinfa', 'Especialidad Farmaceutica', '2,37', 6),
    (3, 'Ibuprofeno Sandoz', 'Especialidad Farmaceutica', '2,37', 7),
    (4, 'Ibuprofeno Kern', 'Especialidad Farmaceutica', '2,37', 8),
    (5, 'Ibuprofeno Ratiopharm', 'Especialidad Farmaceutica', '2,37', 9),
    (6, 'Crema Facial SPf 50', 'Parafarmacia', '6,77', 10),
    (7, 'Gel Ducha Farline 150 ml', 'Parafarmacia', '4,50', 11),
    (8, 'Huile Prodigeus, 50 ml', 'Parafarmacia', '11,50', 12),
    (9, 'Hidroferol Ampollas Bebibles, 10 ml', 'Especialidad Farmaceutica', '12,50', 13),
    (10, 'Frenadol Forte', 'Especialidad Farmaceutica', '5,90', 14)

    '''

In [16]:
cursor.execute(query)
conexion.commit()

In [17]:
query = '''
INSERT INTO `Stock` (`Id_Producto`, `Cantidad`, `Fecha_Recepcion`) VALUES
    (1, 45, '20/01/2024'),
    (2, 105, '20/12/2023'),
    (3, 5, '01/11/2023'),
    (4, 10, '20/02/2024'),
    (5, 16, '15/10/2023'),
    (6, 10, '15/03/2023'),
    (7, 20, '10/02/2024'),
    (8, 25, '10/01/2024'),
    (9, 65, '10/01/2024'),
    (10, 220, '09/09/2023')

    '''

In [18]:
cursor.execute(query)
conexion.commit()

In [19]:
query = '''
INSERT INTO `Facturas` (`Id_Factura`, `Fecha_Factura`, `Importe`, `Id_Proveedor`) VALUES
(101, '20/01/2024', 440 , 0),
(102, '20/12/2023', 248.85 , 6),
(103, '01/11/2023', 11.75, 7),
(104, '20/02/2024', 27.3 , 8),
(105, '15/10/2023', 37.92 , 9),
(106, '15/03/2023', 67.7, 10),
(107, '10/02/2024', 90, 11),
(108, '10/01/2024', 287.5 , 12),
(109, '10/01/2024', 812.5 , 13),
(110, '09/09/2023', 1298, 14)
'''

In [20]:
cursor.execute(query)
conexion.commit()

In [21]:
query = '''
INSERT INTO `Detalle_Factura` (`Id_Detalle`, `Id_Factura`, `Id_Producto`, `Cantidad`, `Importe`, `Fecha_Factura`) VALUES
(201, 101, 1, 45, 440, '20/01/2024'),
(202, 102, 2, 105, 248.85, '20/12/2023'),
(203, 103, 3, 5, 11.75, '01/11/2023'),
(204, 104, 4, 10, 27.30, '20/02/2024'),
(205, 105, 5, 16, 37.92, '15/10/2023'),
(206, 106, 6, 10, 67.70, '15/03/2023'),
(207, 107, 7, 20, 90, '10/02/2024'),
(208, 108, 8, 25, 287.50, '10/01/2024'),
(209, 109, 9, 65, 812.50, '10/01/2024'),
(210, 110, 10, 220, 1298, '09/09/2023')
'''

In [22]:
cursor.execute(query)
conexion.commit()

In [23]:
def sql_query(query):
    # Ejecuta la query
    cursor.execute(query) # Recuerda que s칩lo funcionar치 si has llamado cursor_bootcamp
                                    # a tu cursor, si no, cambia el nombre en todo el c칩digo de la funci칩n
    # Almacena los datos de la query
    ans = cursor.fetchall()
    # Obtenemos los nombres de las columnas de la tabla
    names = [description[0] for description in cursor.description]
    return pd.DataFrame(ans,columns=names)

In [24]:
query = '''
SELECT *
FROM Proveedores
LEFT JOIN Facturas ON Proveedores.Id_Proveedor = Facturas.Id_Proveedor 
LEFT JOIN Detalle_Factura ON Facturas.Id_Factura = Detalle_Factura.Id_Factura
GROUP BY Proveedores.Nombre
ORDER BY Detalle_Factura.Fecha_Factura DESC
'''

df = sql_query(query)

In [25]:
df.head(120)

,Id_Proveedor,Nombre,Direccion,Telefono,Email,Id_Factura,Fecha_Factura,Importe,Id_Proveedor,Id_Detalle,Id_Factura,Id_Producto,Cantidad,Importe,Fecha_Factura
0,6,Laboratorios Cinfa,"Poligono Areta,10 , Navarra",948 33 38 11,sac@cinfa.com,102,20/12/2023,248.85,6,202,102,2,105,248.85,20/12/2023
1,8,Laboratorios Kern Farma,"Poligono industrial Colom II, 08228, Terrassa,...",937 00 2525,info@kernpharma.com,104,20/02/2024,27.30,8,204,104,4,10,27.30,20/02/2024
2,0,Laboratorios Normon,"Ronda de VAldecarrizo 6, 28760 , Madrid",91 806 52 40,info@normon.com,101,20/01/2024,440.00,0,201,101,1,45,440.00,20/01/2024
3,9,Laboratorios Ratiopharm,"Calle Anabel Segura, 11, 28108, Alcobendas, Ma...",915672970,info@ratiopharm.com,105,15/10/2023,37.92,9,205,105,5,16,37.92,15/10/2023
4,10,Novaltia,"poligono la cruz, P_2_8, Lezama, Bizkaia",946 71 91 00,novaltia@novaltia.es,106,15/03/2023,67.70,10,206,106,6,10,67.70,15/03/2023
5,11,Cofares,"Poligono Lapatza 1 , 48970, Basauri, Bizkaia",949 79 00 00,cofares@cofares.es,107,10/02/2024,90.00,11,207,107,7,20,90.00,10/02/2024
6,12,Laboratoios Nuxe,"travesa de Gracia,122 . 08008, Barcelona",947 88 90 00,nuxelaboratorio@nuxe.es,108,10/01/2024,287.50,12,208,108,8,25,287.50,10/01/2024
7,13,Faes Farma,"Avenida Autonomia, 10 , 48940 , Leioa, Bizkaia",944818300,faesfarma@faesfarma.es,109,10/01/2024,812.50,13,209,109,9,65,812.50,10/01/2024
8,14,GSK Espana,"Calle Severo Ochoa, 2, 28760, Madrid",946 78 98 99,gskespana@gsk.com,110,09/09/2023,1298.00,14,210,110,10,220,1298.00,09/09/2023
9,7,Laboratorios Sandoz,"Avenida Osa MAyor, 4 , 28023, Madrid",915488404,info@sandoz.com,103,01/11/2023,11.75,7,203,103,3,5,11.75,01/11/2023